<h1> Our History </h1>

<p>Our company was born in the City of Lancaster, based around the region’s impressive collection of artists.
Our vision is to stimulate the local arts economy in a personalized way, providing homes an easy, accessible 
system to connect with this regional arts community.</p>

<h1>About Us</h1>

<p>We work to support smaller, passionate artists in the Lancaster, PA region who are looking to expand their
 audience. Our service enables customers to have the ability to buy individual and bundles of artwork custom
to their needs. Our model keeps your home or workspace feeling modernized, with artwork constantly
available for however you need it.</p>

<p>
<%= link_to "Articles Listing Page", articles_path %>
<%= link_to "Home Page", root_path %>
</p>