<div id = "page-content">
    <div class="container" id = "home-container">

        <div class="jumbotron text-center text-white">
        <h1 class="display-4">Article Repo</h1>
        <p class="lead">by Muhammad Ahmed Cheema</p>
        <hr class="my-4">
              <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
        </p>
        </div>
    </div>
</div>
