
<footer id="sticky-footer" class="py-4 bg-dark text-white">
<div class="container text-center">
<small>Copyright &copy; <%= link_to "Muhammad Ahmed Cheema", "https://github.com/mcheemaa", class: "text-white" %></small>
</div>
</footer>
</body>
